@model IEnumerable<ArtTop.Models.OfficeSocialMedia>

@{
      ViewData["ActionTitle"]="List";
    ViewData["Title"] = "PersonSocialMedia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

   

<div class="row">
    <div class="col-md-12 ">
        	<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title pull-left">
													@ViewData["ActionTitle"]
                                                       <br />
                                                    <span class="badge badge-info"> @ViewBag.PersonDetails</span>
												</h3>
                                             
											</div>

                                               <a  class="btn btn-primary pull-right create-btn" href="@Url.Action("Create","DoctorSocialMedias",new{area="Administrative",DoctorId= Context.Request.Query["DoctorId"]})" >Create New</a>
                                                
										</div>
                                        <div class="kt-portlet__body">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArabicTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnglishTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.EnglisName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArabicTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishTitle)
            </td>
             <td>
             <a href="@item.Link" class="EnglishTitle">
                                            <i class="fa-brands fa-@item.EnglishTitle"></i>
                                        </a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                 <a  class="btn btn-outline-success"  href="@Url.Action("Edit","DoctorSocialMedias",new{area="Administrative",Id=item.Id})" ><i class="fa fa-edit  "></i> Edit </a>  
                <a class="btn btn-outline-danger"  href="@Url.Action("Delete","DoctorSocialMedias",new{area="Administrative",Id=item.Id})" onclick="return confirm('Are you sure From Deleted?')" > <i class="fa fa-trash "></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
</div>
</div>
