@model ArtTop.Models.SiteSetting

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SiteSetting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeaderLogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeaderLogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteTitleEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteTitleEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteTitleAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteTitleAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteDescEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteDescEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteDescAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteDescAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceTitleEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceTitleEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceTitleAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceTitleAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDescEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceDescEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDescAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceDescAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeatureTitleEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeatureTitleEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeatureTitleAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeatureTitleAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeatureDescEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeatureDescEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeatureDescAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeatureDescAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeatureImg1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeatureImg1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeatureImg2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeatureImg2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectTitleEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectTitleEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectTitleAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectTitleAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingTitleEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingTitleEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingTitleAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingTitleAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDescEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDescEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDescAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDescAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maarooflogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maarooflogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VATlogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VATlogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CopyRight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CopyRight)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
