@model IEnumerable<ArtTop.Models.SiteSetting>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HeaderLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteTitleEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteTitleAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteDescEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteDescAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceTitleEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceTitleAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceDescEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceDescAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeatureTitleEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeatureTitleAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeatureDescEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeatureDescAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeatureImg1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeatureImg2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTitleEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTitleAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingTitleEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingTitleAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDescEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDescAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maarooflogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VATlogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CopyRight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HeaderLogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteTitleEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteTitleAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteDescEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteDescAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceTitleEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceTitleAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDescEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDescAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeatureTitleEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeatureTitleAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeatureDescEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeatureDescAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeatureImg1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeatureImg2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectTitleEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectTitleAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingTitleEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingTitleAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDescEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDescAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maarooflogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VATlogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CopyRight)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
