@using System.Globalization
@using ArtTop.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model ContactUsViewModel
@{


    Layout = "~/Views/Shared/_Layout.cshtml";
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
    ViewData["Title"] = (isRTL?"اتصل بنا":"Contact us");
    SiteSetting siteSetting=ViewBag.SiteSetting;
    List<ContactItem>ContactItems=   ViewBag.ContactItems;
    List<ContactItem>ContactItemsAll=   ViewBag.ContactItemsAll;
    List<SocialMedia>SocialMedias=  ViewBag.SocialMedia;
    About about = ViewBag.About;
        
}


@section HeaderTitle{
<div class="top-title row">
    <div class="col-md-8 offset-md-2">
        <h1>
            @ViewData["Title"]
        </h1>
        <ul class="breadcrumb">
            <li><a href="index.html">@localizer["home"]</a></li>
            <li>@localizer["ContactUs"]</li>
        </ul>
    </div>
</div>
}

<!--</section> top-hero -->
<section class="contact-us">
    <div class="container">
        <div class="row">
            <div style="" class="text-left col-md-6 contact-info-box white" data-aos="fade-up" data-aos-duration="1000">
                <h4>
                  @localizer["ContactInformation"]  
                </h4>
                <h2>
                @Html.Raw(isRTL?siteSetting.ContactArabicTitle:siteSetting.ContactEnglishTitle)
                   
                </h2>
                <p>
                    @(isRTL?siteSetting.ContactDescArabic:siteSetting.ContactDescEnglish)
                </p>
                <div class="contact-items">

                @foreach(var contact in ContactItemsAll)
                {
                    <div class="contact-item">
                        <img src="~/assets/images/@contact.Icon" alt="">
                        @(isRTL?contact.ArabicValue:contact.EnglishValue)
                    </div>
                }
                    
                </div>
                <div class="social-links ">
                    <ul class="list-unstyled list-group list-group-horizontal">
                      @foreach(var item in SocialMedias)
                {  
                    <li>
                            <a href="@item.Link" class="@item.EnglishTitle">
                                <i class="fa-brands fa-@item.EnglishTitle"></i>
                            </a>
                        </li>
                }
                    </ul>
                </div>
            </div>
            <div class="text-left col-md-6 contact-us-form" data-aos="fade-up" data-aos-duration="1000">
                <h1>
                    @localizer["GetInTouch"]
                </h1>
                <form method="post" action="/Home/ContactUs">
                @Html.Raw(TempData["Message"])
                @Html.AntiForgeryToken()
                    <div class="mb-3">
                        <input asp-for="FullName"  class="form-control" aria-describedby="emailHelp"
                            placeholder="@localizer["FullName"]">
                            <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="@localizer["Email"]">
                            <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="Subject"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="@localizer["Subject"]">
                            <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <textarea asp-for="Message"  cols="30" rows="5" placeholder="@localizer["Message"]"
                            class="form-control"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-green">@localizer["Sendus"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="space85"></div>
</section><!-- about-timeline -->
<section class="map-full">
    <iframe
        src="@siteSetting.Location"
        width="100%" height="560" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
