@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    var culture = CultureInfo.CurrentCulture.Name;
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
    ViewData["Title"] = "Home Page";
    Layout = null;
    SiteSetting siteSetting=ViewBag.SiteSetting;
    List<Slider>Sliders =ViewBag.Sliders;
    List<Service>Services= ViewBag.Services;
    List<Feature>Features= ViewBag.Features;
    List<Project>Projects= ViewBag.Projects;
    List<Client>Clients= ViewBag.Clients;
    List<ContactItem>ContactItems=   ViewBag.ContactItems;
    List<SocialMedia>SocialMedias=  ViewBag.SocialMedia;
    var current_controller = ViewBag.current_controller;
    var current_action = ViewBag.current_action;
    var ServicesItems = ViewBag.ServicesItems;
}
<!doctype html>
<html lang="en" dir="@(isRTL?"RTL":"LTR")">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@(isRTL?siteSetting.SiteTitleAr:siteSetting.SiteTitleEn)</title>
    <meta name="description" content="@(isRTL?siteSetting.SiteDescAr:siteSetting.SiteDescEn)" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
       <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-utilities.css" />
    @if (isRTL)
    {
 
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
          <link rel="stylesheet" href="~/Admin/assets/plugins/general/bootstrap-timepicker/css/bootstrap-timepicker.css" />
        <link rel="stylesheet" href="~/assets/css/style-rtl.css" />
    }
    else
    {
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">     
        <link rel="stylesheet" href="~/Admin/assets/plugins/general/bootstrap-timepicker/css/bootstrap-timepicker.css" />
      
        <link rel="stylesheet" href="~/assets/css/style.css" />

    }    

    <link rel="shortcut icon" href="~/assets/images/logo-IconSmall.png" /> 

</head>

<body>
    <div class="layout position-relative">
        <header class="home top-0 pt-5 ps-4 pe-4 w-100">
            <div class="green-overlay"></div>
            <div class="container">
            <nav class="navbar navbar-expand-lg" data-aos="fade-up" data-aos-duration="3000">
                <div class="container-fluid">
                    <a class="navbar-brand" href="~/@culture/Home/Index">
                        <img src="~/assets/images/logo.svg" alt="Art top" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                            <i class="fa-solid fa-bars"></i>
                    </button>
                    <div class="nav-center">
                        <div class="collapse navbar-collapse top-menu justify-content-center" id="navbarNavAltMarkup">
                            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                             
                                <li class="nav-item">
                                    <a href="~/@culture/Home/Index"   class="nav_link @(current_action=="Index"&&current_controller=="Home"?"active":"")">@localizer["home"]</a>
                                </li>
                                <li class="nav-item">
                                    <a  href="~/@culture/Home/About" class="nav_link @(current_action=="About"&&current_controller=="Home"?"active":"")">@localizer["About"]</a>
                                </li>

                                <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle @(current_controller=="Services"?"active":"")" href="#" data-toggle="dropdown">   @localizer["Services"]  </a>
	    <ul class="dropdown-menu">
           <li><a class="dropdown-item" href="/@culture/services/"> @localizer["AllServices"] </a></li>
          @foreach(var itm in Services)
                                    {
		  
		  <li class="dropdown "><a class="dropdown-item dropdown-toggle" href="#">@(isRTL?itm.ArabicTitle:itm.EnglishTitle) </a>
		  	 <ul class="submenu dropdown-menu">
                 <li><a class="dropdown-item " href="/@culture/services/Details/@itm.Id">@(isRTL?itm.ArabicTitle:itm.EnglishTitle) </a></li>
                            @foreach(var d in ServicesItems)
                                    {

                                        if(d.ServiceId==itm.Id)
                                        {

			    <li><a class="dropdown-item" href="/@culture/services/@(d.Type==1?"Profile":"PersonProfile")/@d.Id">@(isRTL?d.ArabicTitle:d.EnglishTitle)</a></li>
                                    }
                                    }
			 </ul>
		  </li>
                                    }
		
		 
		  
	    </ul>
	</li>
                               
                                <li class="nav-item">
                                    <a  href="~/@culture/Projects/Index"  class="nav_link @(current_controller=="Projects"?"active":"")">@localizer["Projects"]</a>
                                </li>
                                <li class="nav-item">
                                    <a  href="~/@culture/Home/Contact"  class="nav_link @(current_action=="Contact"&&current_controller=="Home"?"active":"")">@localizer["ContactUs"]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="search_btn_container nav_action d-flex align-items-center">
                        <!--<a href="javascript:;" onClick="openSearch()" class="search_btn d-block">
                            <svg width="17" height="15" viewBox="0 0 17 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.0544 13.4824L12.9381 10.5995C13.8825 9.45576 14.4005 8.06846 14.4007 6.60455C14.4007 4.84039 13.658 3.18171 12.3093 1.93427C10.9608 0.686842 9.16799 -0.000244141 7.26069 -0.000244141C5.35362 -0.000244141 3.56057 0.686842 2.21209 1.93427C-0.571674 4.50965 -0.571674 8.69988 2.21209 11.2748C3.56057 12.5225 5.35362 13.2096 7.26069 13.2096C8.84318 13.2094 10.3429 12.7302 11.5793 11.8565L14.6956 14.7393C14.8831 14.9129 15.1292 14.9998 15.375 14.9998C15.6209 14.9998 15.867 14.9129 16.0544 14.7393C16.4298 14.3923 16.4298 13.8294 16.0544 13.4824ZM3.5709 10.0178C1.53644 8.13584 1.53668 5.07347 3.5709 3.19125C4.55645 2.27977 5.86693 1.77759 7.26069 1.77759C8.65468 1.77759 9.96492 2.27977 10.9505 3.19125C11.936 4.10296 12.4789 5.31523 12.4789 6.60455C12.4789 7.89408 11.936 9.10614 10.9505 10.0178C9.96492 10.9295 8.65468 11.4317 7.26069 11.4317C5.86693 11.4317 4.55645 10.9295 3.5709 10.0178Z"
                                    fill="white" />
                            </svg>
                        </a>-->
                        <div class="position-relative overflow-hidden">
                            <partial name="_SelectLanguage" />
                        </div>
                        <a href="" class="get-in-touch-btn d-block  pt-2 pb-2 text-white menuBar">
                            <span>@localizer["Get"] </span>@localizer["InTouch"]
                        </a>
                    </div>
                </div>
            </nav>
            @if(false){
                <nav class="ps-5 pe-5 me-auto d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="logo">
                            <a  href="~/@culture/Home/Index">
                                <img src="~/assets/images/logo.svg" alt="Art top" />
                            </a>
                        </div>
                        <ul class="nav_bar d-flex align-items-center mt-auto mb-auto">
                            <li class="position-relative overflow-hidden">
                                <a href="~/@culture/Home/Index"   class="nav_link @(current_action=="Index"&&current_controller=="Home"?"active":"")">@localizer["home"]</a>
                            </li>
                            <li class="position-relative overflow-hidden">
                                <a  href="~/@culture/Home/About" class="nav_link @(current_action=="About"&&current_controller=="Home"?"active":"")">@localizer["About"]</a>
                            </li>
                                                     <li class="nav-item position-relative overflow-hidden dropdown">
		<a class="nav-link dropdown-toggle @(current_controller=="Services"?"active":"")" href="#" data-toggle="dropdown">   @localizer["Services"]  </a>
	    <ul class="dropdown-menu">
          @foreach(var itm in Services)
                                    {
		   <li><a class="dropdown-item" href="/@culture/services/"> @localizer["AllServices"] </a></li>
		  <li><a class="dropdown-item dropdown-toggle" href="#">@(isRTL?itm.ArabicTitle:itm.EnglishTitle) </a>
		  	 <ul class="submenu dropdown-menu">
                 <li><a class="dropdown-item dropdown-toggle" href="/@culture/services/Details/@itm.Id">@(isRTL?itm.ArabicTitle:itm.EnglishTitle) </a></li>
                            @foreach(var d in ServicesItems)
                                    {
                                        if(d.ServiceId==itm.Id)
                                        {
			    <li><a class="dropdown-item" href="/@culture/services/@(d.Type==1?"Profile":"PersonProfile")/@d.Id">@(isRTL?d.ArabicTitle:d.EnglishTitle)</a></li>
                                    }
                                    }
			 </ul>
		  </li>
                                    }
		
		 
		  
	    </ul>
	</li>
                            <li class="position-relative overflow-hidden">
                                <a  href="~/@culture/Projects/Index"  class="nav_link @(current_controller=="Projects"?"active":"")">@localizer["Projects"]</a>
                            </li>
                            <li class="position-relative overflow-hidden">
                                <a  href="~/@culture/Home/Contact"  class="nav_link @(current_action=="Contact"&&current_controller=="Home"?"active":"")">@localizer["ContactUs"]</a>
                            </li>

                        </ul>

                    </div>
                    <div class="nav_action d-flex align-items-center">
                        
                        <a href="" class="search_btn d-block">
                            <svg width="17" height="15" viewBox="0 0 17 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.0544 13.4824L12.9381 10.5995C13.8825 9.45576 14.4005 8.06846 14.4007 6.60455C14.4007 4.84039 13.658 3.18171 12.3093 1.93427C10.9608 0.686842 9.16799 -0.000244141 7.26069 -0.000244141C5.35362 -0.000244141 3.56057 0.686842 2.21209 1.93427C-0.571674 4.50965 -0.571674 8.69988 2.21209 11.2748C3.56057 12.5225 5.35362 13.2096 7.26069 13.2096C8.84318 13.2094 10.3429 12.7302 11.5793 11.8565L14.6956 14.7393C14.8831 14.9129 15.1292 14.9998 15.375 14.9998C15.6209 14.9998 15.867 14.9129 16.0544 14.7393C16.4298 14.3923 16.4298 13.8294 16.0544 13.4824ZM3.5709 10.0178C1.53644 8.13584 1.53668 5.07347 3.5709 3.19125C4.55645 2.27977 5.86693 1.77759 7.26069 1.77759C8.65468 1.77759 9.96492 2.27977 10.9505 3.19125C11.936 4.10296 12.4789 5.31523 12.4789 6.60455C12.4789 7.89408 11.936 9.10614 10.9505 10.0178C9.96492 10.9295 8.65468 11.4317 7.26069 11.4317C5.86693 11.4317 4.55645 10.9295 3.5709 10.0178Z"
                                    fill="white" />
                            </svg>
                        </a>
                        <div class="position-relative overflow-hidden">
                            <partial name="_SelectLanguage" />
                        </div>
                        <a href="" class="get-in-touch-btn d-block  pt-2 pb-2 text-white">
                            <span>@localizer["Get"] </span>@localizer["InTouch"]
                        </a>
                    </div>
                </nav>
            }
            <div class="menu-wrap">
                <div class="menu-wrap-container">
                    <button type="button" class="close-menu"><i class="fa fa-close"></i> </button>
                    <div class="chat-icon">
                        <img src="~/assets/images/chat-bubble.svg" alt="">
                    </div>
                    <h3>
                        @Html.Raw(isRTL?siteSetting.ContactArabicTitle:siteSetting.ContactEnglishTitle)
                    </h3>
                    <div class="info-item">
                        <label for="">
                            @localizer["Address"]
                        </label>
                        <p>
                       
                                @{
                                    var addressitem = ContactItems.Where(x => x.Order == 1).FirstOrDefault();
                                }
                                @(isRTL?addressitem.ArabicValue:addressitem.EnglishValue) 
                        </p>
                    </div>
                    <div class="info-item">
                        <label for="">
                            @localizer["Email"]  
                        </label>
                        <p>
                                @{
                                    var Emailitem = ContactItems.Where(x => x.Order == 2).FirstOrDefault();
                                }
                               
                            <a href="mailto:@(Emailitem.EnglishValue)">@Emailitem.EnglishValue</a>
                        </p>
                    </div>
                    <div class="info-item">
                        <label for="">
                            @localizer["Phone"]  
                        </label>
                        <p>
                        @{
                                    var phneitem = ContactItems.Where(x => x.Order == 2).FirstOrDefault();
                                }
                            <a href="tel:@(phneitem.EnglishValue)">@(phneitem.EnglishValue)</a>
                        </p>
                    </div>                    
                    <div class="social-links ">
                        <ul class="list-unstyled list-group list-group-horizontal justify-content-start">
                            
                            @foreach(var item in SocialMedias)
                        {
                        <li>
                                <a href="@item.Link" class="@item.EnglishTitle">
                                    <i class="fa-brands fa-@item.EnglishTitle"></i>
                                </a>
                            </li>
                        }
                        </ul>
                    </div>
                    <div class="info-item">
                        <p >
                            @localizer["HaveanyQuestion"]
                        </p>
                        <a href="~/@culture/Home/Contact" class="btn btn-green">
                            @localizer["Sendus"]  
                        </a>
                    </div>                  
                </div>
            </div>
                <section class="main-slider">
                    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                       @for(int i=0;i<Sliders.Count; i++)
                       {
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="@i"
                                class="@(i==0?"active":"slide")" aria-current="true" aria-label="Slide @(i+1)">@(i+1)</button>
                           
                                }
                        
                        </div>
                        <div class="carousel-inner">
                        @{int slidercounter=1;}
                        @foreach(var slider in Sliders)
                        {
                            <div class="carousel-item @(slidercounter==1?"active":"")" data-bs-interval="@(slidercounter*10000)">
                                <div class="row">
                                    <div class="col-md-7">
                                       @Html.Raw(isRTL?slider.ArabicTitle:slider.EnglishTitle)
                                    </div>
                                    <div class="col-md-5">
                                        <p class="white">
                                           @Html.Raw(isRTL?slider.ArabicDetails:slider.EnglishDetails)
                                        </p>
                                    </div>
                                </div>  
                                @{ slidercounter+=1;}
                            </div>
                         
                            }
                        </div>
                    </div>
                </section>
            </div>
        </header>
        <main>
            <section class="our-services dark text-center"  data-aos="fade-up" data-aos-duration="2000">
                <div class="container">
                    <h5 class="mb-2">
                      @localizer["OurServices"] 
                    </h5>
                    <h2>
                     @Html.Raw(isRTL?siteSetting.ServiceTitleAr:siteSetting.ServiceTitleEn)
                    </h2>
                    <div class="row">
                        @{
                            int itemcounter = 1;
                        }
                        @foreach(var item in Services){
                        <div class="col-md-4">
                            <div class="service-card">
                                <div class="icon">
                                    <img src="~/assets/images/@item.Icon" alt="">
                                </div>
                                <h3>
                                   <a href="/@culture/Services/details/@item.Id"> @(isRTL?item.ArabicTitle:item.EnglishTitle)</a>
                                </h3>
                                <div class="number">
                                    <img src="~/assets/images/@("0"+itemcounter+".svg")" alt="">
                                </div>
                                @{itemcounter++;}
                            </div>
                        </div>
                 
                        }
                    </div>
                </div>
            </section>
            <section class="our-features"  data-aos="fade-up" data-aos-duration="1000">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="image">
                                        <div class="overley-green"></div>
                                        <img src="~/assets/images/@siteSetting.FeatureImg1" alt="">
                                    </div>
                                    <div class="call-us dark">
                                        <div class="icon">
                                            <img src="~/assets/images/call-us.svg" alt="">
                                        </div>
                                        <div class="separator"></div>
                                        <div class="text text-left">
                                            <div class="question">
                                                 @localizer["ForAnyQuery"]
                                            </div>
                                            <div class="phone">
                                              @siteSetting.Queryphone
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6 d-flex align-items-end">
                                    <div class="image">
                                        <div class="overley-orange"></div>
                                        <img src="~/assets/images/@siteSetting.FeatureImg2" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 offset-md-1">
                            <h5>
                              @localizer["OurFeatures"]  
                            </h5>
                            <h2>
                           @Html.Raw(isRTL?siteSetting.FeatureTitleAr:siteSetting.FeatureTitleEn)    
                            </h2>
                            <p>
                                @Html.Raw(isRTL?siteSetting.FeatureDescAr:siteSetting.FeatureDescEn)    
                            </p>
                            <div class="features-list">
                            @foreach(var feature in Features)
                            {
                                <div class="features-list-item">
                                    <img src="~/assets/images/@feature.Icon" alt="@(isRTL?feature.ArabicTitle:feature.EnglishTitle)">
                                    @(isRTL?feature.ArabicTitle:feature.EnglishTitle)
                                </div>
                            }
                               
                            </div>
                            <button class="btn btn-green" onclick="gotosection('#book-appointment')"  type="button">
                                 @localizer["GetStarted"]  
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="our-projects dark" data-aos="fade-up" data-aos-duration="2000">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h5 class="mb-2">
                                 @localizer["OurProjects"]
                            </h5>
                            <h2>
                                @Html.Raw(isRTL?siteSetting.ProjectTitleAr:siteSetting.ProjectTitleEn)    
                            </h2>
                        </div>
                        <div class="col-md-2 d-flex align-items-center">
                            <a href="/@culture/projects/index" class="btn btn-white">
                              @localizer["DiscoverAll"]   
                            </a>
                        </div>
                    </div>
                    <div class="row">
                    @foreach(var project in Projects)
                    {
                        <div class="col-md-4">
                            <div class="project-card">
                                <a href="/@culture/projects/details/@project.Id">
                                    <h3>
                                       @(isRTL?project.Service.ArabicTitle:project.Service.EnglishTitle)
                                    </h3>
                                    <div class="content"
                                        style="background-image: url('/assets/images/@project.CoverImage');">
                                        <div class="text">
                                            @(isRTL?project.ArabicTitle:project.EnglishTitle)
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        }
                 
                    </div>
                </div>
            </section>

            <section class="clients">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Set up your HTML -->
                            <div
                                class="owl-carousel-line animation-dramatic-content animate-dramatic ani_fadeIn aniUtil_dramatic aniUtil_active animate__animated animate__fadeIn">
                                <div class="owl-carousel">
                                   @foreach(var client in Clients)
                    {
                                    <div><a href="#"><img src="~/assets/images/@client.Image" alt=" @(isRTL?client.TitleAr:client.TitleEn)"></a></div>
                    }
                                </div>
                            </div><!-- owl-carousel-line -->
                        </div><!-- col-md-12 -->
                    </div><!-- row -->
                </div> <!-- container -->
            </section><!-- clients -->

            <section class="book-appointment" id="book-appointment">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h5>
                                 @localizer["BookAppointment"]
                            </h5>
                            <h2>
                                @Html.Raw(isRTL?siteSetting.BookingTitleAr:siteSetting.BookingTitleEn)    
                            </h2>
                            <p>
                          @Html.Raw(isRTL?siteSetting.BookingDescAr:siteSetting.BookingDescEn)   
                            </p>
                        </div>
                        <div class="col-md-6 offset-md-2 book-appointment-form-container" data-aos="zoom-in-left"  data-aos-duration="2000">
                         @Html.Partial("_bookingform")
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <section class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="footer-section col-md-3">
                            <h3>
                                @localizer["Services"]
                            </h3>
                            <ul class="list-unstyled">
                               @foreach (var service in Services)
                                { 
                                    <li><a href="@Url.Action("details","Services",new{Id=service.Id})"> @(isRTL?service.ArabicTitle:service.EnglishTitle)</a></li>
                                }
                            </ul>
                        </div>
                        <div class="footer-section col-md-3">
                            <h3>
                              @localizer["QuickLinks"]  
                            </h3>
                            <ul class="list-unstyled">
                            
                                <li><a href="#">@localizer["TermofConditions"]  </a></li>
                                <li><a href="#">@localizer["PrivacyPolicy"]  </a></li>
                                <li><a href="#">@localizer["FAQ"]  </a></li>
                            </ul>
                        </div>
                        <div class="footer-section newsletter col-md-3">
                            @Html.Partial("_NewsLetter")
                        </div>
                        <div class="footer-section contact-info col-md-3">
                            <h3>
                             @localizer["ContactUs"]     
                            </h3>
                            <div>
                            @foreach(var item in ContactItems.Where(x=>x.ShowInHome==true))
                                {
                                    <div class="d-flex contact-info-item">
                                    <div class="icon">
                                        <img src="~/assets/images/@item.Icon" alt="@(isRTL?item.ArabicValue:item.EnglishValue)">
                                    </div>
                                    <div class="text">
                                      @(isRTL?item.ArabicValue:item.EnglishValue)
                                    </div>
                                </div>
                                }
                                <!-- <div class="d-flex contact-info-item">
                                    <div class="icon">
                                        <img src="~/assets/images/marker.svg" alt="address">
                                    </div>
                                    <div class="text">
                                        Kingdome of Saudi Arabia Short Address RHOA7835
                                    </div>
                                </div>
                                <div class="d-flex contact-info-item">
                                    <div class="icon">
                                        <img src="~/assets/images/mail.svg" alt="mail">
                                    </div>
                                    <div class="text">
                                        <a href="mailto:info@arttopgroup.com">info@arttopgroup.com</a>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    </div>
            </section>
            <section class="footer-bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="logos">
                                <img src="~/assets/images/@siteSetting.Maarooflogo" alt="logo 1">
                                <img src="~/assets/images/@siteSetting.VATlogo" alt="logo 2">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="copyright text-center align-items-center">
                               @localizer["CopyRight"] @DateTime.Now.Year
                            </div>
                        </div>
                        <div class="col-md-4 text-left">
                            <div class="social-links ">
                                <ul class="list-unstyled list-group list-group-horizontal justify-content-end">
                                    
                                 @foreach(var item in SocialMedias)
                                {
                                <li>
                                        <a href="@item.Link" class="@item.EnglishTitle">
                                            <i class="fa-brands fa-@item.EnglishTitle"></i>
                                        </a>
                                    </li>
                                }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
        @* <footer class="border-top footer text-muted">
            <div class="container">
            &copy; 2022 - ArtTop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
            </footer> *@
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src ="https://cdn.jsdelivr.net/gh/KodingKhurram/animate.css-dynamic@main/animate.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js"></script>
       <script src="~/Admin/assets/plugins/general/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script> 
    <script src="~/assets/js/inlineSVG.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script>
    
  function gotosection(section) {
    $('body, html').animate({
      scrollTop: $(section).offset().top
    }, 600);

  };

    </script>

    @if (isRTL)
    {
        <script>
            $(document).ready(function () {
                $('.owl-carousel').owlCarousel({
                    rtl: true,
                    loop: true,
                    margin: 40,
                    responsiveClass: true,
                    responsive: {
                        0: {
                            items: 1,
                            nav: false
                        },
                        600: {
                            items: 3,
                            nav: false
                        },
                        1000: {
                            items: 6,
                            nav: true,
                            loop: false
                        }
                    }
                });
                $(document).on("click", ".close-menu", function (e) {
                    e.preventDefault();
                    $(".menuBar").removeClass("active");
                    $(".menu-wrap").css("left", "-475px");
                });
                $(document).on("click", ".menuBar", function (e) {
                    e.preventDefault();
                    if ($(this).hasClass("active")) {
                        $(this).removeClass("active");
                        $(".menu-wrap").css("left", "-475px");
                    } else {
                        $(this).addClass("active");
                        $(".menu-wrap").css("left", "0");
                    }
                });
            });
        </script>
    }
    else
    {

        <script>
            $(document).ready(function () {
                $('.owl-carousel').owlCarousel({
                    loop: true,
                    margin: 40,
                    responsiveClass: true,
                    responsive: {
                        0: {
                            items: 1,
                            nav: false
                        },
                        600: {
                            items: 3,
                            nav: false
                        },
                        1000: {
                            items: 6,
                            nav: true,
                            loop: false
                        }
                    }
                });
                $(document).on("click", ".close-menu", function (e) {
                    e.preventDefault();
                    $(".menuBar").removeClass("active");
                    $(".menu-wrap").css("right", "-475px");
                });
                $(document).on("click", ".menuBar", function (e) {
                    e.preventDefault();
                    if ($(this).hasClass("active")) {
                        $(this).removeClass("active");
                        $(".menu-wrap").css("right", "-475px");
                    } else {
                        $(this).addClass("active");
                        $(".menu-wrap").css("right", "0");
                    }
                });
            });
        </script>
    }
</body>

</html>
