@model ArtTop.Models.Service

@{
    ViewData["Title"] = "Services Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 ">
        	<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title pull-left">
													  ViewData["Title"]
												</h3>
                                             
											</div>

                                               <a  class="btn btn-primary pull-right create-btn" href="@Url.Action("Create","Services",new{area="Administrative"})" >Create New</a>
                                                
										</div>
                                        <div class="kt-portlet__body">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArabicTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArabicTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnglishTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnglishTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArabicDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.ArabicDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnglishDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.EnglishDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoverImage)
        </dt>
        <dd class = "col-sm-10">
         <img src="~/assets/images/@Model.CoverImage" width="100px" class="img-thumbnail"/>  
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icon)
        </dt>
        <dd class = "col-sm-10">
           <img src="~/assets/images/@Model.Icon" width="100px" class="img-thumbnail"/>  
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</div>
</div>
</div>

