@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model ArtTop.Models.Project
@{
      var culture = CultureInfo.CurrentCulture.Name;
       var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
        ViewData["Title"] = (isRTL?"تفاصيل مشروع":"Project Details") + " - "+ (isRTL?Model.ArabicTitle:Model.EnglishTitle);
    Layout = "~/Views/Shared/_Layout_white.cshtml";

   
    SiteSetting siteSetting=ViewBag.SiteSetting;
    List<ContactItem>ContactItems=   ViewBag.ContactItems;
    List<SocialMedia>SocialMedias=  ViewBag.SocialMedia;
     List<Service>Services= ViewBag.Services;
        List<Project>Projects= ViewBag.Projects;
}



<section class="project-details" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>
                    @(isRTL?Model.Service.ArabicTitle.Replace("الخدمات","المشاريع").Replace("خدمات","المشاريع"):Model.Service.EnglishTitle.Replace("services","Projects").Replace("Services","Projects")) 
                </h5>
                <h2>
                    @(isRTL?Model.ArabicTitle:Model.EnglishTitle)
                </h2>
                <img src="~/assets/images/@Model.CoverImage" alt=" @(isRTL?Model.ArabicTitle:Model.EnglishTitle)"
                    class="project-img">
            </div>
            <div class="col-md-5 offset-md-1">
               
                     @Html.Raw(isRTL?Model.ArabicDetails:Model.EnglishDetails)
              
                <div class="client-info">
                    <div class="client-info-text">
                        <label for="">@localizer["Client"]</label>
                        <div class="client-name">
                          @Model.Client
                        </div>
                    </div>
                    <div class="client-logo">
                        <img src="~/assets/images/@Model.ClientLogo" alt="@Model.Client">
                    </div>
                </div>
                <div class="separator"></div>
                <div class="project-footer">
                    <div class="project-date">
                        <label for="">@localizer["DeliveryDate"]</label>
                        <div> @Model.DeliveryDate.Value.ToString("dd MMM,yyy")</div>
                    </div>
                    <div class="project-share">
                        <label for="">@localizer["ShareProject"]</label>
                        <div>

                            <div class="social-links ">
                                <ul class="list-unstyled list-group list-group-horizontal justify-content-end">
                                @foreach(var social in SocialMedias)
                                {
                                
                                <li>
                                        <a href="@social.Link" class="@social.EnglishTitle">
                                            <i class="fa-brands fa-@social.EnglishTitle"></i>
                                        </a>
                                    </li>
                                }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
