@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    var culture = CultureInfo.CurrentCulture.Name;
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
    ViewData["Title"] = (isRTL ? "المشاريع" : "Projects");
    SiteSetting siteSetting = ViewBag.SiteSetting;
    List<ContactItem> ContactItems = ViewBag.ContactItems;
    List<SocialMedia> SocialMedias = ViewBag.SocialMedia;
    List<Service> Services = ViewBag.Services;
    List<Project> Projects = ViewBag.Projects;
}

<style>
    /* Controls
---------------------------------------------------------------------- */

    .controls {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    .control,
    .control:focus {
        cursor: pointer;
        height: 27px;
        padding: 0 18px;
        border-radius: 3px;
        margin: 0 5px;
        border: 1px solid transparent;
    }

    .control:hover {
        border: 1px solid #40C782;
    }

    .mixitup-control-active {
        border: 1px solid #40C782 !important;
    }


    /* Target Elements
---------------------------------------------------------------------- */

    .mix,
    .gap {
        display: inline-block;
        vertical-align: top;
    }

    .mix {
        margin-bottom: 90px;
        position: relative;
    }

    /* Grid Breakpoints
---------------------------------------------------------------------- */

    /* 2 Columns */

    .mix,
    .gap {
        width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
    }

    /* 3 Columns */

    @@media screen and (min-width: 541px) {

        .mix,
        .gap {
            width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
        }
    }

    @@media only screen and (max-width: 768px) {
        .controls {
            display: block;
            text-align: center;
        }

        .mix,
        .gap {
            width: calc(100% - (((2 - 1) * 1rem) / 2));
        }
    }
</style>

@section HeaderTitle{
<div class="top-title row">
    <div class="col-md-8 offset-md-2">
        <h1>
            @ViewData["Title"]
        </h1>
        <ul class="breadcrumb">
            <li><a href="index.html">@localizer["home"]</a></li>
            <li>@localizer["Projects"]</li>
        </ul>
    </div>
</div>
}
<section class="projects">
    <div class="container mix-container">

        <div class="controls">
            <button type="button" class="btn control" data-filter="all">@localizer["All"]</button>
            @foreach (Service s in Services)
            {
                <button type="button" class="btn control"
                data-toggle=".service@(s.Id)">@(isRTL?s.ArabicTitle.Replace("الخدمات","").Replace("خدمات","").Trim():s.EnglishTitle.Replace("services","").Replace("Services","").Trim())
                </button>
            }
        </div>

        <div class="container">
            @foreach (var project in Projects)
            {
                <div class="mix service@(project.Service.Id)">
                    <a href="~/@culture/Projects/Details/@project.Id">
                        <div class="project-item" style="background-image: url('/assets/images/@project.CoverImage');">
                            <div class="service-item-overlay"></div>
                            <div class="content">
                                <div class="text">
                                    <h3>
                                        @(isRTL?project.Service.ArabicTitle.Replace("الخدمات","المشاريع").Replace("خدمات","المشاريع"):project.Service.EnglishTitle.Replace("services","Projects").Replace("Services","Projects"))
                                    </h3>
                                    <p>
                                        @(isRTL?project.ArabicTitle:project.EnglishTitle)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }

        </div>
    </div>
</section>
@section Scripts{
<script src="~/assets/js/mixitup.min.js"></script>
<script>
    var containerEl = document.querySelector('.mix-container');
    var mixer = mixitup(containerEl);
</script>
}