@model IEnumerable<ArtTop.Models.NewsLetter>

@{
      ViewData["ActionTitle"]="List";
    ViewData["Title"] = "NewsLetter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

   

<div class="row">
    <div class="col-md-12 ">
        	<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title pull-left">
													@ViewData["ActionTitle"]
                                                     
												</h3>
                                             
											</div>

                                              
                                                
										</div>
                                        <div class="kt-portlet__body">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_at)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_at)
            </td>
           
        </tr>
}
    </tbody>
</table>
</div>
</div>
</div>
</div>
