
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer localizer
@model Service
@{
    var culture = CultureInfo.CurrentCulture.Name;
    Layout = "~/Views/Shared/_Layout_white.cshtml";

    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
    var ss = isRTL.ToString().ToLower();
    ViewData["Title"] = (isRTL ? "الخدمات" : "Services");

    List<ServiceSlider> ServiceSliders = ViewBag.ServiceSliders;
    List<SubService> SubServices = ViewBag.SubServices;
    List<Office> Offices = ViewBag.Offices;

}

<section class="service-slider">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @foreach (var item in ServiceSliders)
            {
                <div class="carousel-item @(ServiceSliders.IndexOf(item)==0?"active":"")" data-bs-interval="10000">
                    <img src="~/assets/images/@(isRTL ? item.CoverImageAr:item.CoverImage)" alt="@(isRTL ? Model.ArabicTitle: Model.EnglishTitle)">
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<section class="what-we-do" style="background-image: url('/assets/images/@(isRTL?Model.DetailsImageArabic:Model.DetailsImage)');background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-5 text">
                <div class="container">
                    <h5>
                        @localizer["WhatWeDo"]
                    </h5>
                    <h2>
                        @(isRTL ? Model.ArabicTitle: Model.EnglishTitle)
                    </h2>
                    <p>
                        @Html.Raw(isRTL ? Model.ArabicDetails: Model.EnglishDetails)
                    </p>
                    <button class="btn btn-green">
                        @localizer["GetStarted"]   
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sub-services-header">
    <div class="container">
        <div class="row">
            <h5 class="text-center">
                @localizer["BookAppointment"] 
            </h5>
            <h2 class="text-center white">
                @localizer["DiscoverOur"]  @(isRTL ? Model.ArabicTitle: Model.EnglishTitle)
            </h2>
        </div>
    </div>
</section>
<section class="sub-services-items">
    <div class="container">
        <div class="row">
            @foreach (var item in SubServices)
            {
                <div class="col-md-4">
                    <div class="service-item">
                        <a href="#">
                            <div class="service-item-image"
                            style="background-image: url('/assets/images/@item.CoverImage');">
                            </div>
                            <div class="content">
                                <div class="icon">
                                    <img src="~/assets/images/@item.Icon" alt="@(isRTL?item.ArabicTitle:item.EnglishTitle)">
                                </div>
                                <div class="text">
                                    <h3>
                                        @(isRTL?item.ArabicTitle:item.EnglishTitle)
                                    </h3>
                                    @* <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum is simply
                                        </p>*@
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

<section class="our-clinics">
    <div class="container">
        <div class="row">
            <h5 class="text-center">
                @(isRTL?Model.OurOfficeArabic:Model.OurOfficeEnglish)
            </h5>
            <h2 class="text-center">
                @(isRTL?Model.MeetOurWorkersArabic:Model.MeetOurWorkersEnglish)
            </h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div
                class="owl-carousel-line animation-dramatic-content animate-dramatic ani_fadeIn aniUtil_dramatic aniUtil_active animate__animated animate__fadeIn">
                <div class="owl-carousel">
                    @foreach (var item in Offices)
                    {
                        <div class="doctor-item" style="background-image: url('/assets/images/@(isRTL?item.CoverImageArabic: item.CoverImage)')">
                            <div class="overlay-green"></div>
                            <div class="row">
                                <div class="col-md-4 offset-md-7 info">

                                    @{
                                        var Sub = item.OfficeSubServices.FirstOrDefault();
                                        if (Sub != null)
                                        {
                                            <div class="position">
                                                @(isRTL?Sub.SubService.ArabicTitle:Sub.SubService.EnglishTitle)   
                                            </div>
                                        }
                                    }


                                    <h2>
                                        <a href="~/@culture/Services/Profile/@item.Id">
                                            @(isRTL?item.ArabicTitle:item.EnglishTitle)   </a>
                                    </h2>
                                    <p>
                                        @(isRTL?item.ArabicDetails:item.EnglishDetails)   
                                    </p>
                                    <button type="button" class="btn btn-green" data-bs-toggle="modal"
                                    data-bs-target="#make-appointment">
                                        @localizer["BookAppointment"]
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div><!-- owl-carousel-line -->
        </div>
    </div>
</section>
<div class="modal fade" id="make-appointment" tabindex="-1" aria-labelledby="MakeAppointmentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="MakeAppointmentModalLabel">Make Appointment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body book-appointment-form">
                <form class="form-inputs">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="name" value="Your Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" value="Enter Email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="persons" class="form-label">Persons</label>
                                <input type="text" class="form-control" id="persons" value="2 Adults, 1 Child">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="doctor" class="form-label">Doctor</label>
                                <select id="doctor" class="form-select">
                                    <option value="1">Dr. Ahmed Ali</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="date" class="form-label">Date</label>
                                <input type="date" class="form-control" id="date" value="12 Sep, 2022">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="time" class="form-label">Time</label>
                                <input type="time" class="form-control" id="time" value="3:00 pm - 3:30 pm">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-green">Book Now</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
       
            <script>
           
        
            $(document).ready(function () {

              
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 30,
            responsiveClass: true,
          rtl:@ss,
            nav: true,
            navText: ['<img src="/assets/images/arrow-prev.png">', '<img src="/assets/images/arrow-next.png">'],
            autoWidth: true,
            center: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 3,
                    nav: false
                },
            }
            @* loop: true,
                margin: 30,
                responsiveClass: true, *@
        });    });
        
        </Script>
        

}