
@using ArtTop.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer localizer
@model Service
@{
    var culture = CultureInfo.CurrentCulture.Name;
    Layout = "~/Views/Shared/_Layout_white.cshtml";

    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
    var ss = isRTL.ToString().ToLower();
    ViewData["Title"] = (isRTL ? "الخدمات" : "Services");

    List<ServiceSlider> ServiceSliders = ViewBag.ServiceSliders;
    List<SubService> SubServices = ViewBag.SubServices;
    List<Office> Offices = ViewBag.Offices;
    List<Doctor> Doctors = ViewBag.Doctors;
 
}
<style>
/*    section.sub-services-items .service-item{
    height:472px;
    width:370px;}*/
</style>
<input type="hidden" id="TypeHdn" value=""/>
<input type="hidden" id="ServiceHdn" value="@Model.Id"/>
<input type="hidden" id="DoctorIdHdn" value=""/>
@if (ServiceSliders != null && ServiceSliders.Count() > 0)
{
    <section class="service-slider">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var item in ServiceSliders)
                {
                    <div class="carousel-item @(ServiceSliders.IndexOf(item)==0?"active":"")" data-bs-interval="10000">
                        <img src="~/assets/images/@(isRTL ? item.CoverImageAr:item.CoverImage)" alt="@(isRTL ? Model.ArabicTitle: Model.EnglishTitle)">
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
}
<section class="what-we-do" style="background-image: url('/assets/images/@(isRTL?Model.DetailsImageArabic:Model.DetailsImage)');background-size: cover;" data-aos="fade-up" data-aos-duration="2000">
    <div class="container">
        <div class="row">
            <div class="col-md-5 text">
                <div class="container">
                    <h5>
                        @localizer["WhatWeDo"]
                    </h5>
                    <h2>
                        @(isRTL ? Model.ArabicTitle: Model.EnglishTitle)
                    </h2>
                    <p>
                        @Html.Raw(isRTL ? Model.ArabicDetails: Model.EnglishDetails)
                    </p>
                    <button class="btn btn-green showmodle">
                        @localizer["GetStarted"]   
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sub-services-header" data-aos="fade-up" data-aos-duration="2000">
    <div class="container">
        <div class="row">
            <h5 class="text-center">
                @localizer["BookAppointment"] 
            </h5>
            <h2 class="text-center white">
                @localizer["DiscoverOur"]  @(isRTL ? Model.ArabicTitle: Model.EnglishTitle)
            </h2>
        </div>
    </div>
</section>
<section class="sub-services-items" data-aos="fade-up" data-aos-duration="2000">
    <div class="container">
        <div class="row">
            <div
                class="owl-carousel-line animation-dramatic-content animate-dramatic ani_fadeIn aniUtil_dramatic aniUtil_active animate__animated animate__fadeIn">
                <div class="owl-carousel subservices">
            @foreach (var item in SubServices)
            {
              @*  <div class="col-md-4">*@
                    <div class="service-item">
                        <a href="#">
                            <div class="service-item-image"
                            style="background-image: url('/assets/images/@item.CoverImage');">
                            </div>
                            <div class="content">
                                <div class="icon">
                                    <img src="~/assets/images/@item.Icon" alt="@(isRTL?item.ArabicTitle:item.EnglishTitle)">
                                </div>
                                <div class="text">
                                    <h3>
                                        @(isRTL?item.ArabicTitle:item.EnglishTitle)
                                    </h3>
                              @* <p>
                                        @Html.Raw(isRTL?item.ArabicDetails:item.EnglishDetails)   
                                    </p>*@
                                </div>
                            </div>
                        </a>
                    </div>
               @* </div>*@
            }
      
            </div>
          </div>
        </div>
    </div>
</section>

<section class="our-clinics" data-aos="fade-up" data-aos-duration="2000">
    <div class="container">
        <div class="row">
            <h5 class="text-center">
                @(isRTL?Model.OurOfficeArabic:Model.OurOfficeEnglish)
            </h5>
            <h2 class="text-center">
                @(isRTL?Model.MeetOurWorkersArabic:Model.MeetOurWorkersEnglish)
            </h2>
          
        </div>
    </div>
    <div class="container">
        <div class="row">
            
            <div
                class="owl-carousel-line animation-dramatic-content animate-dramatic ani_fadeIn aniUtil_dramatic aniUtil_active animate__animated animate__fadeIn">
                <div class="owl-carousel doctors">
                    @foreach (var item in Offices)
                    {
                        <div class="doctor-item" style="background-image: url('/assets/images/@(isRTL?item.CoverImageArabic: item.CoverImage)')">
                            <div class="overlay-green"></div>
                            <div class="row">
                                <div class="col-md-4 offset-md-7 info">

                                    @{
                                        var Sub = item.OfficeSubServices.FirstOrDefault();
                                        if (Sub != null)
                                        {
                                            <div class="position">
                                                @(isRTL?Sub.SubService.ArabicTitle:Sub.SubService.EnglishTitle)   
                                            </div>
                                        }
                                    }


                                    <h2>
                                        <a href="~/@culture/Services/Profile/@item.Id">
                                            @(isRTL?item.ArabicTitle:item.EnglishTitle)   </a>
                                    </h2>
                                  @*  <p>
                                        @Html.Raw(isRTL?item.ArabicDetails:item.EnglishDetails)   
                                    </p>*@
                                    <button type="button" class="btn btn-green showmodle" data-type="1" data-id="@item.Id" >
                                        @localizer["BookAppointment"]
                                    </button>
                                </div>
                            </div>
                        </div>
                    }

                     @foreach (var item in Doctors)
                    {
                        <div class="doctor-item" style="background-image: url('/assets/images/@(isRTL?item.CoverImageArabic: item.CoverImage)')">
                            <div class="overlay-green"></div>
                            <div class="row">
                                <div class="col-md-4 offset-md-7 info">

                                    @{
                                        var Sub = item.SubServices.FirstOrDefault();
                                        if (Sub != null)
                                        {
                                            <div class="position">
                                                @(isRTL?Sub.SubService.ArabicTitle:Sub.SubService.EnglishTitle)   
                                            </div>
                                        }
                                    }


                                    <h2>
                                        <a href="~/@culture/Services/PersonProfile/@item.Id">
                                            @(isRTL?item.ArabicName:item.EnglisName)   </a>
                                    </h2>
                                  @*  <p>
                                        @Html.Raw(isRTL?item.ArabicDetails:item.EnglishDetails)   
                                    </p>*@
                                    <button type="button" class="btn btn-green showmodle" data-type="2" data-id="@item.Id">
                                        @localizer["BookAppointment"]
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div><!-- owl-carousel-line -->
        </div>
    </div>
</section>
  @Html.Partial("_bookingService")


@section Scripts{
       
            <script>
           
        
            $(document).ready(function () {
        
              
        $('.doctors').owlCarousel({
            loop: true,
            margin: 30,
            responsiveClass: true,
          rtl:@ss,
            nav: true,
            navText: ['<img src="/assets/images/arrow-prev.png">', '<img src="/assets/images/arrow-next.png">'],
            autoWidth: true,
            center: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 3,
                    nav: false
                },
            }
            
        });   
            
            
            
              
        $('.subservices').owlCarousel({
            loop: true,
            margin: 30,
            responsiveClass: true,
          rtl:@ss,
            nav: true,
            navText: ['<img src="/assets/images/arrow-prev.png">', '<img src="/assets/images/arrow-next.png">'],
            autoWidth: true,
            center: true,
           responsive: {
                0: {
                    items: 3,
                    nav: true
                },
                600: {
                    items: 3,
                    nav: true
                },
            }
          
        });  
            });
        
        </Script>
        

}