@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer localizer
@model Office
@{
    var culture = CultureInfo.CurrentCulture.Name;
    Layout = "~/Views/Shared/_Layout_white.cshtml";

    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
    var ss = isRTL.ToString().ToLower();
    ViewData["Title"] = (isRTL ? "الخدمات" : "Services");

    List<OfficeSlider> OfficeSliders = ViewBag.OfficeSliders;
    List<SubService> SubServices = ViewBag.SubServices;
    List<OfficeSocialMedia> OfficesMedia = ViewBag.OfficesMedia;


}

<input type="hidden" Id="OfficeId" name="OfficeId" value="@Model.Id" />
 <input type="hidden" Id="ServiceId" name="ServiceId" value="@Model.ServiceId" />
<section class="service-slider">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-inner">
                @foreach (var item in OfficeSliders)
                {
                    <div class="carousel-item @(OfficeSliders.IndexOf(item)==0?"active":"")" data-bs-interval="10000">
                        <img src="~/assets/images/@(isRTL ? item.CoverImageAr:item.CoverImage)"
                        alt="@(isRTL ? Model.ArabicTitle: Model.EnglishTitle)">
                    </div>
                }
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<section class="about-clinic">
    <div class="container">
        <div class="row about">
            <div class="col-md-5 details">
                <h5>
                    @(isRTL?Model.ArabicAboutTitle:Model.EnglishAboutTitle)
                </h5>
                <h2>
                    @(isRTL?Model.ArabicTitle:Model.EnglishTitle)
                </h2>
                <p>
                    @Html.Raw(isRTL?Model.ArabicDetails:Model.EnglishDetails)
                </p>
                <a href="#" class="btn btn-green">
                    @localizer["GetStarted"]
                </a>
            </div>
            <div class="col-md-6 offset-md-1 image">
                <img src="~/assets/images/@(isRTL?Model.ProfileImageAr:Model.ProfileImage)"
                    alt="  @(isRTL?Model.ArabicTitle:Model.EnglishTitle)">
            </div>
        </div>
        <div class="row">
            @foreach (var item in SubServices)
            {
                <div class="col-md-4">
                    <div class="service-item">
                        <a href="#">
                            <div class="content">
                                <span class="icon">
                                    <img src="~/assets/images/@item.Icon"
                                    alt="  @(isRTL?item.ArabicTitle:item.EnglishTitle)">
                                </span>
                                <div class="text">
                                    <h3>
                                        @(isRTL?item.ArabicTitle:item.EnglishTitle)
                                    </h3>
                                    @*<p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum is simply
                                        </p>*@
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<section class="get-in-touch">
    <div class="container">
        <div class="row">
            <div class="col-md-6 get-in-touch-detials">
                <h5>
                    @localizer["GetInTouch"]
                </h5>
                <h2>
                    @(isRTL?Model.ArabicContactTitle:Model.EnglishContactTitle)
                </h2>
                <p>
                    @localizer["Wewillbehappytoreachus"]

                </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="icon">
                            <img src="~/assets/images/marker.svg" alt="Location">
                        </div>
                        <div class="title">
                            @localizer["Location"]
                        </div>
                        <div class="address">
                            @Html.Raw(isRTL?Model.ArabicAddress:Model.EnglishAddress)
                        </div>
                        <div class="title">
                            @localizer["MakeAppointment"]
                        </div>
                        <div class="mobile">
                            @Model.Phone
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon">
                            <img src="~/assets/images/time.svg" alt="Location">
                        </div>
                        <div class="title">
                            @localizer["WorkingHours"]
                        </div>
                        <div class="address">
                            @(isRTL?Model.WorkingHoursAr:Model.WorkingHours)
                            <br>
                            @(isRTL?Model.WeekendAr:Model.Weekend): @localizer["Closed"]
                        </div>
                        <div class="title">
                            @localizer["SocialAccounts"]
                        </div>
                        <div class="social-links ">
                            <ul class="list-unstyled list-group list-group-horizontal">

                                @foreach (var item in OfficesMedia)
                                {
                                    <li>
                                        <a href="@item.Link" class="@item.EnglishTitle">
                                            <i class="fa-brands fa-@item.EnglishTitle"></i>
                                        </a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 book-appointment-form-container">
                @Html.Partial("_bookingformService")
            </div>
        </div>
    </div>
</section>
<section class="statistics">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex aign-items-center justify-content-center statistics-items-list">
                    <div class="statistics-item">
                        <h2>
                            @Model.Mission
                        </h2>
                        <h3>
                            @(isRTL?Model.MissionAR:Model.MissionEn)
                        </h3>
                    </div>
                    <div class="statistics-item">
                        <h2>
                            @Model.Client
                        </h2>
                        <h3>
                            @(isRTL?Model.ClientAR:Model.ClientEn)
                        </h3>
                    </div>
                    <div class="statistics-item">
                        <h2>
                            @Model.Worker
                        </h2>
                        <h3>
                            @(isRTL?Model.WorkerAR:Model.WorkerEn)
                        </h3>
                    </div>
                    <div class="statistics-item">
                        <h2>
                            @Model.Experience+
                        </h2>
                        <h3>
                            @(isRTL?Model.ExperienceAR:Model.ExperienceEn)
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="map-full">
  
    <iframe src="@Model.Location" 
        width="100%" height="560" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
